<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommunityChat</title>
</head>
<body>
    <header>
        <button href="/login" action="GET"></button>
    </header>
    <h1>Discussions:</h1>
    <ul class="threads">
    
        <!-- loop to store threads from database that are located in thr threads object array -->
    <% for(let i=0; i < threads.length; i++) {%>
        <li class="thread">
            <span style="display: none;"><%= threads[i]._id %></span>   
            <a href="/messages/<%= threads[i]._id %>" class="topic"><span><%= threads[i].topic %></span></a>
            <span><%= threads[i].postedBy %></span>
            <span><%= threads[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>
    <h2>Start A Thread:</h2>

    <form action="/home" method="POST">
        <input type="hidden" value="<%= String(user.name) %>" name="postedBy">
        <input type="text" placeholder="topic" name="topic">
        <input type="submit">
    </form>
    

    <script src='/js/main.js'></script>
</body>
</html>
