<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Messages:</h1>
    <ul class="messages">
        <!-- loop to list the messages located inside of a thread that are stored in info.messages -->
        <!-- <h2><%= String(info) %></h2> -->
        <% if (info != false) { %>
            <% for(let i=0; i < info.length; i++) {%>
                <li class="message">
                    <span class = "userName"> <strong> <%= info[i].date %> </strong></span>, 
                    <span class = "userName"> <strong> <%= info[i].user.username %> </strong></span>:
                    <br>
                    <span><%= info[i].message %></span>
                    <span><%= info[i].likes %></span>
                    <span class='fa fa-thumbs-up'></span>
                    <span class='fa fa-trash'></span>
                </li>
            <% } %>
            <% } else{ %>
                <li>no messages</li>
            <% } %>
    </ul>

    <h2>add A message:</h2>

    <span><%= activeUser.name  %></span>
    <form action="/messages" method="POST">
        <input type = "hidden" name="threadId" value="<%= threadId %>">
        <input type="hidden"  value="<%= JSON.stringify({username:activeUser.name, userID: activeUser._id}) %>" name="user">
        <input type="text" placeholder="message" name="message">
        <input type="submit">
    </form>
    <button><a href="/home">Home</a></button>

    <script src='js/main.js'></script>
</body>
</html>
